﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication2.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>OLA MUNDO</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        OLA MUNDO
    </div>
    </form>
</body>
</html>
